DATABASE_URL=mysql://46y9n8jynrqwvQL.root:dAcasFmdDUqFHW5w@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/sys
PORT=3001

# Razorpay API configurations
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

